.title{font-size: 4rem; font-weight: 800;}
#myDiv:hover {
    animation: mymove 2s;
}
@keyframes mymove {
    50% {
        transform: rotate(-5deg);
    }
}
.text-shadow{
    text-shadow: 0px 0px 10px gray;
}